.row
  .span4.offset4
    %h2{:style => "margin-top: 20px;"} Add a movie
    %form.well{:action => ""}
      %input{:name => "username", :placeholder => "Movie title", :type => "text"}
      %a.btn{:href => "#"} Back
      %input.btn.btn-primary{:type => "submit", :value => "Next"}
