%legend Select appropriate movie:
%select#movie-id{:name => "movie", :size => "6"}
  %option Sherlock Holmes: The Game of Shadows
  %option Sherlock Holmes: The Game of Shadows
  %option Sherlock Holmes: The Game of Shadows
  %option Sherlock Holmes: The Game of Shadows
  %option Sherlock Holmes: The Game of Shadows
  %option --Not on the list--
