%h2= @movie.tmdb_id
%h3 2012
- if !to_watchlist
  %label{:for => "rate"} Rate:
  %input{:max => "10", :min => "0", :name => "movie[rate]", :placeholder => "Rate", :type => "number", :value => "0"}
  \/ 10
