.row
  .span6
    %h2.left Movies to see
    .right.btn-group
      .btn Date
      .btn Title
    %ul.clear.well.nav.nav-list{:style => "height: 500px; overflow-y: scroll;"}
      - @years.each do |k,v|
        %li.nav-header= k
        - v.each do |movie|
          %li
            %label.checkbox
              %input{:type => "checkbox"}
              %a{:href => "#"}= movie.title
  .span6
    = link_to 'Add movie to the list', admin_new_movie_path, :class => 'btn btn-large btn-primary', :style => 'width: 93%'
    %p{:style => "text-align: center; margin: 10px 0;"} — or —
    = link_to 'Add movie to the watchlist', admin_new_movie_path(:watchlist => true), :class => 'btn btn-large btn-success', :style => 'width: 93%'
    %h2{:style => "margin-top: 20px;"} Settings
    %form.well{:action => ""}
      %label{:for => "username"} Username
      %input{:name => "username", :placeholder => "Username", :type => "text"}/
      %label{:for => "password"} Password
      %input{:name => "password", :placeholder => "Password", :type => "text"}/
      %input.btn{:style => "display: block;", :type => "submit", :value => "Save"}/
